// vars
$brand-primary: rgb(255, 82, 82);
$white: #ffffff;
$black: #000000;
$gray: rgba(0, 0, 0, 0.54);
$light-gray: rgba(0, 0, 0, 0.14);

// fonts
$font-display: 'Josefin Slab', serif;
$font-copy: 'Open Sans Condensed', sans-serif;
